.orderItem_details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-family: "Inter", "Quicksand", sans-serif;
  width: 750px;
  padding: 35px;
  margin: 1em 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-right: 15px solid #7064e5;
  border-radius: 8px;
}

.order_content {
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
}

.order_prop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 8px 0px;

  h3 {
    font-weight: 500;
    font-size: 15px;
  }
  span {
    background: rgba(112, 100, 229, 0.2);
    color: rgb(39, 24, 218);
    font-size: 12px;
  }
}
