.cartpage {
  max-width: 1220px;
  margin: 0.5em auto;
  width: 100%;
  padding: 20px;
  .order-form {
    box-shadow: rgba(59, 69, 123, 0.2) 0px 2px 8px 0px;
    padding: 1em !important;
    margin: 0em !important;

    label {
      padding: 0.6em 0px !important;
    }
  }
}
