.cartpage {
  .order-form {
    box-shadow: rgba(59, 69, 123, 0.2) 0px 2px 8px 0px;
    padding: 1em !important;
    margin: 1em 0px !important;

    label {
      padding: 0.6em 0px !important;
    }
  }
  .fallback_prod_ui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
