$exclusive_color: #224957;
.card_parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_card_parent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  border-radius: 4px;
  margin: 1em;
  padding: 2em;

  &:hover {
    box-shadow: rgba(59, 69, 123, 0.2) 0px 2px 8px 0px;
  }

  .product_img {
    img {
      width: 240px;
      height: 189.37px;
    }
  }

  .product_desc {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: $exclusive_color;
    padding: 8px 0px;
    font-size: 1rem;
  }
  .product_price {
    width: 100%;
    padding: 8px 0px;
    font-size: 24px;
  }
  .product_price p {
    font-weight: bold;
    color: $exclusive_color;
  }
  .product_actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 16px;
  }

  .add_to_wishlist button {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    color: #7064e5;
    border: 1px solid #7064e5;
    padding: 6px 9px;
    border-radius: 6px;
    background: #fff;
    span {
      margin-right: 0.4em;
    }
    &:hover {
      background: #f6f5ff;
    }
  }
}
